{:device-summary 
 {:name "SimpleServer", :objects ("8.1234" "0.0" "0.1" "0.2" "0.3" "1.0" "1.1" "1.2" "1.3" "2.0" "2.1" "2.2" "2.3" "3.0" "3.1" "3.2" "3.3" "3.4" "4.0" "4.1" "4.2" "4.3" "5.0" "5.1" "5.2" "5.3" "5.4" "5.5" "5.6" "5.7" "5.8" "5.9" "40.0" "15.0" "15.1" "21.0" "21.1" "21.2" "21.3" "21.4" "21.5" "21.6" "28.0" "28.1" "28.2" "28.3" "13.0" "14.0" "14.1" "14.2" "14.3" "19.0" "20.0" "20.1" "20.2" "20.3" "20.4" "20.5" "20.6" "20.7" "10.0" "10.1" "10.2")}
 
 :objects [{:object-instance "3",
  :object-type "21",
  :object-id "21.3",
  :name "LS POINT 3",
  :value 0,
  :description "LS POINT 3",
  :object-identifier [:life-safety-point 3]}
 {:object-instance "3",
  :object-type "5",
  :object-id "5.3",
  :name "BINARY VALUE 3",
  :value 0,
  :description "BINARY VALUE 3",
  :object-identifier [:binary-value 3]}
 {:object-instance "2",
  :object-type "14",
  :object-id "14.2",
  :name "MULTISTATE OUTPUT 2",
  :value 0,
  :description "MULTISTATE OUTPUT 2",
  :object-identifier [:multi-state-output 2]}
 {:object-instance "1",
  :object-type "0",
  :object-id "0.1",
  :name "ANALOG INPUT 1",
  :value 0.0,
  :description "ANALOG INPUT 1",
  :object-identifier [:analog-input 1]}
 {:object-instance "2",
  :object-type "3",
  :object-id "3.2",
  :name "BINARY INPUT 2",
  :value 0,
  :description "BINARY INPUT 2",
  :object-identifier [:binary-input 2]}
 {:object-instance "0",
  :object-type "0",
  :object-id "0.0",
  :name "ANALOG INPUT 0",
  :value 0.0,
  :description "ANALOG INP
UT 0",
  :object-identifier [:analog-input 0]}
 {:object-instance "1",
  :object-type "3",
  :object-id "3.1",
  :name "BINARY INPUT 1",
  :value 0,
  :description "BINARY INPUT 1",
  :object-identifier [:binary-input 1]}
 {:object-instance "1",
  :object-type "20",
  :object-id "20.1",
  :name "Trend Log 1",
  :description "Trend Log 1",
  :object-identifier [:trend-log 1]}
 {:object-instance "0",
  :object-type "2",
  :object-id "2.0",
  :name "ANALOG VALUE 0",
  :value 0.0,
  :description "ANALOG VALUE 0",
  :object-identifier [:analog-value 0]}
 {:object-instance "2",
  :object-type "20",
  :object-id "20.2",
  :name "Trend Log 2",
  :description "Trend Log 2",
  :object-identifier [:trend-log 2]}
 {:object-instance "0",
  :object-type "10",
  :object-id "10.0",
  :name "FILE 0",
  :description "temp_0.txt",
  :object-identifier [:file 0]}
 {:object-instance "3",
  :object-type "2",
  :object-id "2.3",
  :name "ANALOG VALUE 3",
  :value 0.0,
  :description "ANALOG VALUE 3",
  :object-identifier [:analog-value
 3]}
 {:object-instance "2",
  :object-type "28",
  :object-id "28.2",
  :name "LOAD CONTROL 2",
  :value :inactive,
  :description "LOAD CONTROL 2",
  :object-identifier [:load-control 2]}
 {:object-instance "3",
  :object-type "0",
  :object-id "0.3",
  :name "ANALOG INPUT 3",
  :value 0.0,
  :description "ANALOG INPUT 3",
  :object-identifier [:analog-input 3]}
 {:object-instance "2",
  :object-type "0",
  :object-id "0.2",
  :name "ANALOG INPUT 2",
  :value 0.0,
  :description "ANALOG INPUT 2",
  :object-identifier [:analog-input 2]}
 {:object-instance "0",
  :object-type "1",
  :object-id "1.0",
  :name "ANALOG OUTPUT 0",
  :value 0.0,
  :description "ANALOG OUTPUT 0",
  :object-identifier [:analog-output 0]}
 {:object-instance "5",
  :object-type "20",
  :object-id "20.5",
  :name "Trend Log 5",
  :description "Trend Log 5",
  :object-identifier [:trend-log 5]}
 {:object-instance "0",
  :object-type "21",
  :object-id "21.0",
  :name "LS POINT 0",
  :value 0,
  :description "LS POINT 0",
  :object-identifier
 [:life-safety-point 0]}
 {:object-instance "3",
  :object-type "1",
  :object-id "1.3",
  :name "ANALOG OUTPUT 3",
  :value 0.0,
  :description "ANALOG OUTPUT 3",
  :object-identifier [:analog-output 3]}
 {:object-instance "0",
  :object-type "19",
  :object-id "19.0",
  :name "",
  :value 1,
  :description "",
  :object-identifier [:multi-state-value 0]}
 {:object-instance "1",
  :object-type "1",
  :object-id "1.1",
  :name "ANALOG OUTPUT 1",
  :value 0.0,
  :description "ANALOG OUTPUT 1",
  :object-identifier [:analog-output 1]}
 {:object-instance "6",
  :object-type "5",
  :object-id "5.6",
  :name "BINARY VALUE 6",
  :value 0,
  :description "BINARY VALUE 6",
  :object-identifier [:binary-value 6]}
 {:object-instance "0",
  :object-type "20",
  :object-id "20.0",
  :name "Trend Log 0",
  :description "Trend Log 0",
  :object-identifier [:trend-log 0]}
 {:object-instance "3",
  :object-type "3",
  :object-id "3.3",
  :name "BINARY INPUT 3",
  :value 0,
  :description "BINARY INPUT 3",
  :object-identifier
 [:binary-input 3]}
 {:object-instance "0",
  :object-type "5",
  :object-id "5.0",
  :name "BINARY VALUE 0",
  :value 0,
  :description "BINARY VALUE 0",
  :object-identifier [:binary-value 0]}
 {:object-instance "4",
  :object-type "5",
  :object-id "5.4",
  :name "BINARY VALUE 4",
  :value 0,
  :description "BINARY VALUE 4",
  :object-identifier [:binary-value 4]}
 {:object-instance "1",
  :object-type "21",
  :object-id "21.1",
  :name "LS POINT 1",
  :value 0,
  :description "LS POINT 1",
  :object-identifier [:life-safety-point 1]}
 {:object-instance "3",
  :object-type "4",
  :object-id "4.3",
  :name "BINARY OUTPUT 3",
  :value 0,
  :description "BINARY OUTPUT 3",
  :object-identifier [:binary-output 3]}
 {:object-instance "2",
  :object-type "10",
  :object-id "10.2",
  :name "FILE 2",
  :description "temp_2.txt",
  :object-identifier [:file 2]}
 {:object-instance "2",
  :object-type "4",
  :object-id "4.2",
  :name "BINARY OUTPUT 2",
  :value 0,
  :description "BINARY OUTPUT 2",
  :object-identifier
 [:binary-output 2]}
 {:object-instance "0",
  :object-type "3",
  :object-id "3.0",
  :name "BINARY INPUT 0",
  :value 0,
  :description "BINARY INPUT 0",
  :object-identifier [:binary-input 0]}
 {:object-instance "8",
  :object-type "5",
  :object-id "5.8",
  :name "BINARY VALUE 8",
  :value 0,
  :description "BINARY VALUE 8",
  :object-identifier [:binary-value 8]}
 {:object-instance "5",
  :object-type "21",
  :object-id "21.5",
  :name "LS POINT 5",
  :value 0,
  :description "LS POINT 5",
  :object-identifier [:life-safety-point 5]}
 {:object-instance "1",
  :object-type "4",
  :object-id "4.1",
  :name "BINARY OUTPUT 1",
  :value 0,
  :description "BINARY OUTPUT 1",
  :object-identifier [:binary-output 1]}
 {:object-instance "4",
  :object-type "3",
  :object-id "3.4",
  :name "BINARY INPUT 4",
  :value 0,
  :description "BINARY INPUT 4",
  :object-identifier [:binary-input 4]}
 {:object-instance "7",
  :object-type "5",
  :object-id "5.7",
  :name "BINARY VALUE 7",
  :value 0,
  :description "BINARY V
ALUE 7",
  :object-identifier [:binary-value 7]}
 {:object-instance "0",
  :object-type "14",
  :object-id "14.0",
  :name "MULTISTATE OUTPUT 0",
  :value 0,
  :description "MULTISTATE OUTPUT 0",
  :object-identifier [:multi-state-output 0]}
 {:object-instance "0",
  :object-type "15",
  :object-id "15.0",
  :name "NOTIFICATION CLASS 0",
  :description "NOTIFICATION CLASS 0",
  :object-identifier [:notification-class 0]}
 {:object-instance "3",
  :object-type "14",
  :object-id "14.3",
  :name "MULTISTATE OUTPUT 3",
  :value 0,
  :description "MULTISTATE OUTPUT 3",
  :object-identifier [:multi-state-output 3]}
 {:object-instance "1",
  :object-type "5",
  :object-id "5.1",
  :name "BINARY VALUE 1",
  :value 0,
  :description "BINARY VALUE 1",
  :object-identifier [:binary-value 1]}
 {:object-instance "4",
  :object-type "20",
  :object-id "20.4",
  :name "Trend Log 4",
  :description "Trend Log 4",
  :object-identifier [:trend-log 4]}
 {:object-instance "5",
  :object-type "5",
  :object-id "5.5",
  :name "BI
NARY VALUE 5",
  :value 0,
  :description "BINARY VALUE 5",
  :object-identifier [:binary-value 5]}
 {:object-instance "3",
  :object-type "28",
  :object-id "28.3",
  :name "LOAD CONTROL 3",
  :value :inactive,
  :description "LOAD CONTROL 3",
  :object-identifier [:load-control 3]}
 {:object-instance "0",
  :object-type "4",
  :object-id "4.0",
  :name "BINARY OUTPUT 0",
  :value 0,
  :description "BINARY OUTPUT 0",
  :object-identifier [:binary-output 0]}
 {:object-instance "1",
  :object-type "15",
  :object-id "15.1",
  :name "NOTIFICATION CLASS 1",
  :description "NOTIFICATION CLASS 1",
  :object-identifier [:notification-class 1]}
 {:object-instance "1",
  :object-type "14",
  :object-id "14.1",
  :name "MULTISTATE OUTPUT 1",
  :value 0,
  :description "MULTISTATE OUTPUT 1",
  :object-identifier [:multi-state-output 1]}
 {:object-instance "6",
  :object-type "21",
  :object-id "21.6",
  :name "LS POINT 6",
  :value 0,
  :description "LS POINT 6",
  :object-identifier [:life-safety-point 6]}
 {:object-instance
 "1",
  :object-type "28",
  :object-id "28.1",
  :name "LOAD CONTROL 1",
  :value :inactive,
  :description "LOAD CONTROL 1",
  :object-identifier [:load-control 1]}
 {:object-instance "2",
  :object-type "1",
  :object-id "1.2",
  :name "ANALOG OUTPUT 2",
  :value 0.0,
  :description "ANALOG OUTPUT 2",
  :object-identifier [:analog-output 2]}
 {:object-instance "2",
  :object-type "21",
  :object-id "21.2",
  :name "LS POINT 2",
  :value 0,
  :description "LS POINT 2",
  :object-identifier [:life-safety-point 2]}
 {:object-instance "6",
  :object-type "20",
  :object-id "20.6",
  :name "Trend Log 6",
  :description "Trend Log 6",
  :object-identifier [:trend-log 6]}
 {:object-instance "1234",
  :object-type "8",
  :object-id "8.1234",
  :name "SimpleServer",
  :description "server",
  :object-identifier [:device 1234]}
 {:object-instance "9",
  :object-type "5",
  :object-id "5.9",
  :name "BINARY VALUE 9",
  :value 0,
  :description "BINARY VALUE 9",
  :object-identifier [:binary-value 9]}
 {:object-instance
 "0",
  :object-type "13",
  :object-id "13.0",
  :name "",
  :value 1,
  :description "",
  :object-identifier [:multi-state-input 0]}
 {:object-instance "2",
  :object-type "5",
  :object-id "5.2",
  :name "BINARY VALUE 2",
  :value 0,
  :description "BINARY VALUE 2",
  :object-identifier [:binary-value 2]}
 {:object-instance "1",
  :object-type "2",
  :object-id "2.1",
  :name "ANALOG VALUE 1",
  :value 0.0,
  :description "ANALOG VALUE 1",
  :object-identifier [:analog-value 1]}
 {:object-instance "1",
  :object-type "10",
  :object-id "10.1",
  :name "FILE 1",
  :description "temp_1.txt",
  :object-identifier [:file 1]}
 {:object-instance "3",
  :object-type "20",
  :object-id "20.3",
  :name "Trend Log 3",
  :description "Trend Log 3",
  :object-identifier [:trend-log 3]}
 {:object-instance "0",
  :object-type "28",
  :object-id "28.0",
  :name "LOAD CONTROL 0",
  :value :inactive,
  :description "LOAD CONTROL 0",
  :object-identifier [:load-control 0]}
 {:object-instance "7",
  :object-type "20",
  :object-id
 "20.7",
  :name "Trend Log 7",
  :description "Trend Log 7",
  :object-identifier [:trend-log 7]}
 {:object-instance "2",
  :object-type "2",
  :object-id "2.2",
  :name "ANALOG VALUE 2",
  :value 0.0,
  :description "ANALOG VALUE 2",
  :object-identifier [:analog-value 2]}
 {:object-instance "4",
  :object-type "21",
  :object-id "21.4",
  :name "LS POINT 4",
  :value 0,
  :description "LS POINT 4",
  :object-identifier [:life-safety-point 4]}]

 :devices-list (["1234" "SimpleServer"]["1235" "SimpleServer"]["1236" "SimpleServer"])}
