
{:en {:controllers {:devices "Controllers"
                    :scantime "Scanned in:"
                    :last-scan "Last scan:"
                    :list "Devices list"
                    :nothing-found "No device found"
                    :refresh "Refresh"
                    :name "Name"
                    :no-name! "<no name>"
                    :description "Description"
                    :value "Value"
                    :unit "Unit"
                    :search-name "Search name"
                    :objects-visible "Objects visible"
                    :loading-objects "Loading objects..."}
      :briefcase {:delete-all "Delete all"
                  :change-colors "Change colors"}}

 :fr {:controllers {:devices "Contrôleurs"
                    :scantime "Scanné en:"
                    :last-scan "Dernier scan:"
                    :list "Liste d'appareils"
                    :nothing-found "Aucun appareil trouvé"
                    :refresh "Actualiser"
                    :graphs "Graphiques"
                    :name "Nom"
                    :no-name! "<sans nom>"
                    :description "Description"
                    :value "Valeur"
                    :unit "Unité"
                    :search-name "Rechercher nom"
                    :objects-visible "Objets visibles"
                    :loading-objects "Chargement des objets..."}
      :briefcase {
                  :delete-all "Effacer tout"
                  :change-colors "Changer les couleurs"}}}
 
